<launch>  
    <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 50"/>          <!--频率为10Hz-->
    <include file="$(find run_agv)/launch/build_tree.launch"/>                      <!--发布激光雷达、IMU的安装位置-->
    <include file="$(find base_controller)/launch/base_controller.launch"/>         <!--打开底盘控制节点，可以通过遥控器实现运动控制，并获取里程计信息-->
    <include file="$(find lslidar_n301_decoder)/launch/lslidar_n301.launch"/>       <!--打开激光雷达数据接收节点-->
    <!--<include file="$(find hwtimu)/launch/hwtimusubexp.launch"/>-->              <!--打开IMU据接收节点-->
    <include file="$(find run_agv)/launch/rviz_navi.launch"/>                       <!--打开可视化-->
</launch>