<!--这个文件是最老大的启动文件，干了三件事情：
    1.载入初始化的参数和文件
    2.启动了几个节点
    3.include了几个其他launch文件，来启动其他的模块-->

<launch>  

<!--发布固定坐标转换-->
    <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.24 0 0 0 0 0 base_footprint laser_link 100"/>          <!--频率为10Hz-->
    <node pkg="tf" type="static_transform_publisher" name="base_to_imu" args="0.1 0 0 0 0 0 base_footprint imu 100"/>

<!--调用其他launch文件-->
<!--    <include file="$(find base_controller)/launch/base_controller.launch"/>
    <include file="$(find lslidar_n301_decoder)/launch/lslidar_n301.launch"/>
    <include file="$(find set_gmapping)/launch/robot_gmapping.launch"/>
	<include file="$(find hwtimu)/launch/hwtimusubexp.launch"/>
    <include file="$(find set_gmapping)/launch/move_base.launch"/>-->

</launch>