<launch>

    <arg name="pub_odom"   default="1"/>

    <node name="base_controller" pkg="base_controller" type="base_controller" output="screen">
        <rosparam command="load" file="$(find base_controller)/config/base_controller.yaml"/>
        <param name="pub_odom" value="$(arg pub_odom)"/>
    </node>

    <!--<include file="$(find base_controller)/launch/include/sensor_fusion.launch.xml"/>-->

</launch>